<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">

    <!-- First Sequence: Test1, Test2, TestA -->
    <test name="OrderByCash" preserve-order="true">
        <classes>
            <class name="testCases.practiceTest">
                <methods>
                    <include name="testlogin"/>
                    <include name="addProduct"/>
                    <include name="openPaymentMethods"/>
                    <include name="payByCash"/>
                </methods>
            </class>
        </classes>
    </test>

    <!-- Second Sequence: Test1, Test2, TestB -->
    <test name="OrderByACH" preserve-order="true">
        <classes>
            <class name="testCases.practiceTest">
                <methods>
                    <include name="testlogin"/>
                    <include name="addProduct"/>
                    <include name="openPaymentMethods"/>
                    <include name="payByACH"/>
                </methods>
            </class>
        </classes>
    </test> 

</suite>
